---
layout: default
---

<section>
<div class="center"><h1>SELECTED WORKS</h1><p>Yuma</p></div>
</section>

<div class="row">

<% [
  { lang: "en", desc_key: "desc", more: "more.." },
  { lang: "ja", desc_key: "desc_ja", more: "さらに表示.." }
].each do |lang| %>

<div class="one-half column">

<% if lang[:lang] == "ja" %>
<section>
<img alt="lotus" src="/assets/images/lotus.webp" width="1000" height="1000" style="width:100%; height:auto;">
</section>
<% end %>

<section>

<% @content_data.each do |name, info| %>
<article>
    <h2><a href="<%= info['url'] %>"><%= name %></a></h2>
    <ul>
        <li style="<%= "text-align: justify;" if lang[:lang] == "en" %>">
        <b><%= lang[:lang] == "en" ? "<i>Abstract</i>" : "概要" %></b> - <%= info[lang[:desc_key]] %>
        </li>

        <li>
        <b><%= lang[:lang] == "en" ? "<i>Keywords: </i>" : "キーワード: " %></b>
        <%= info['tags'].sort_by { |s| s.upcase }.join(", ") %>
        </li>
    </ul>
</article>
<div class="spacer"></div>
<% end %>

<% if lang[:lang] == "en" %>
<section>
<pre><code style="background: #fff; color: #000;border-radius: 0px; border: 2px solid #000; user-select: none; font-size: 1.3rem">class Hash
  def to_anon_class
    source = self

    Class.new do
      source.each_key { |key| attr_accessor key.to_sym }

      define_method(:initialize) do
        source.each do |key, value|
          instance_variable_set("@#{key}", value)
        end
      end
    end
  end
end</code></pre>
</section>
<% end %>

<a href="/docs/"><%= lang[:more] %></a>

</section>
</div>

<% end %>

</div>

