<% require 'json' %>
<% jsonlinks = JSON.parse(File.read("./data/links.json")) %>
<% info = JSON.parse(File.read("./data/info.json")) %>

<nav class="navbar">
<div class="container">
<ul class="navbar-list">
<% jsonlinks.keys.each do |k| %>
<li class="navbar-item"><a class="navbar-link" href="#<%= k.gsub(' ','-') %>"><%= k %></a></li>
<% end %>
<% info.keys.each do |k| %>
<li class="navbar-item"><a class="navbar-link" href="#<%= k.gsub(' ','-') %>"><%= k %></a></li>
<% end %>
</ul>
</div>
</nav>

<% jsonlinks.each do |k, v| %>
<div class="docs-section">
<h4 id="<%= k.gsub(' ','-') %>"><%= k %></h4>
<ul class="collection">
<% jsonlinks[k].sort.each do |ltitle,inf| %>
<li><a href="<%= inf["url"] %>"><%= ltitle %></a></li>
<% end %>
</ul>
<% end %>

<%info.each do |k,v| %>
<div class="docs-section">
<h4 id="<%= k.gsub(' ','-') %>"><%= k %></h4>
<ul class="collection">
<% info[k].sort.each do |key, value| %>
<% item = key %>
<% if info[k].is_a?(Hash) %>
<% item = (item + ": #{value}") %>
<% elsif info[k].is_a?(Array) %>
<%= info[k].sort.join(' / ') %>
<% break %>
<% end %>
<li><%= item %></li> 
<% end %>
</ul>
</div>
<% end %>